<div class="container">
  <div id="projectCarousel" class="carousel slide row" data-ride="carousel">
    <ol class="carousel-indicators">
      <%carouselSlides.forEach(element=> { %>
        <% if(element.id === 0) { %>
          <li data-target="#projectCarousel" data-slide-to="<%=element.id%>" class="active"></li>
        <%} else {%>
          <li data-target="#projectCarousel" data-slide-to="<%=element.id%>"></li>
        <%}%>
      <%});%>
    </ol>
    <div class="carousel-inner landing-carousel-inner">
      <%carouselSlides.forEach(element=> { %>
        <% if(element.id===0) { %>
          <div class="landing-carousel-slide carousel-item col-12 active">
            <%- include("landing_slide.html", {slideInfo:element}) %>
          </div>
          <%} else {%>
            <div class="landing-carousel-slide carousel-item col-12">
              <%- include("landing_slide.html", {slideInfo:element}) %>
            </div>
            <%}%>
              <%});%>
    </div>
  </div>
</div>