<footer class="footer">
    <div class="container">
        <div class="footer__inner row no-gutters">
            <div class="footer__aside col-md-2 order-2 order-md-1">
                <div class="footer__content-title">
                    <h6><%=text.titleLabel1%></h6>
                </div>
                
                <div class="socials">
                    <ul>
                        <li>
                            <a>
                                <img src="/public/phone.png" alt="a phone">
                            </a>
                        </li>
                        <li>
                            <a>
                                <img src="/public/email.png" alt="a mail">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__content col-md-10 order-1 order-md-2">
                <div class="row">
                    <div class="col-md-2">
                        <div class="footer__content-title">
                            <h6><%=text.titleLabel2%></h6>
                        </div>
                        <nav class="footer__nav">
                            <ul>
                                <li>
                                    <a target="_blank" href="/"
                                        class="footer__nav-yellow-link" data-faitracker-click-bind="true"><%=text.Main%>
                                    </a>
                                </li>                                
                                <li>
                                    <a target="_blank" href="/aboutus"
                                        class="footer__nav-yellow-link" data-faitracker-click-bind="true"><%=text.AboutUs%>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/pricing" class="footer__nav"
                                        data-faitracker-click-bind="true"><%=text.Services%>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="/gallery" class="footer__nav"
                                        data-faitracker-click-bind="true"><%=text.Gallery%>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bar">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <p>© 2023 Ania Geodeta™ All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>