<footer class="footer">
    <div class="container">
        <div class="footer__inner row no-gutters">
            <div class="footer__aside col-md-2 order-2 order-md-1">
                <div class="footer__content-title">
                    <h6>Annia, your Geodeta</h6>
                </div>
                <a href="#" class="logo" data-faitracker-click-bind="true">
                    <img alt="ButterCMS logo" height="81" loading="lazy" src="/public/manul.webp" width="165">
                </a>
                <div class="socials">
                    <ul>
                        <li>
                            <a href="https://twitter.com/buttercms" data-faitracker-click-bind="true">
                                <img src="/public/phone.png" alt="a phone">
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/buttercms" data-faitracker-click-bind="true">
                                <img src="/public/email.png" alt="a mail">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__content col-md-10 order-1 order-md-2">
                <div class="row">
                    <div class="col-md-2">
                        <div class="footer__content-title">
                            <h6>Company</h6>
                        </div>
                        <nav class="footer__nav">
                            <ul>
                                <li>
                                    <a target="_blank" href="https://apply.workable.com/buttercms/"
                                        class="footer__nav-yellow-link" data-faitracker-click-bind="true">O nas
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://apply.workable.com/buttercms/"
                                        class="footer__nav" data-faitracker-click-bind="true">Cennik
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://apply.workable.com/buttercms/"
                                        class="footer__nav" data-faitracker-click-bind="true">Obslugi
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-2">
                        <div class="footer__content-title">
                            <h6>Starter Projects</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bar">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <p>© 2023 Ania Geodeta™ All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>