<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__aside">
                <a class="logo">
                    <img src="/public/logo.png" class="logo">
                </a>
            </div>
            <a href="#" id="mobileHamburger">
                <div class="btn-menu d-block d-md-none 3">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
            <div class="header__content">
                <nav class="nav">
                    <ul>
                        <%navBarOptions.forEach(element=> { %>
                            <%if (element.hasDropdown==true) { %>
                                <li class="navLink hasDropdown">
                                    <a href="<%=element.link%>">
                                        <%=element.title%>
                                    </a>
                                    <ul>
                                        <%element.sublink.forEach(subElement=> { %>
                                            <li>
                                                <a href="<%=subElement.link%>">

                                                    <p class="nav--sub-link">
                                                        <%=subElement.title%>
                                                            <span>
                                                                <%=subElement.description%>
                                                            </span>
                                                    </p>
                                                </a>
                                            </li>
                                            <%});%>
                                    </ul>
                                </li>
                                <% } else { %>
                                    <li class="navLink">
                                        <a href="<%=element.link%>">
                                            <%=element.title%>
                                        </a>
                                    </li>
                                    <%}%>
                                        <%});%>
                                            <li><a class="custom-button" href="/contact">
                                                    <%=text.ContactUs%>
                                                </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>