<div class="container">
    <div class="row intro--landing--container">
        <div class="col-12 col-md-5 intro--landing--left">
            <!-- Main part -->
            <div class="intro--landing--left">
                <h1 class="ml-0 ml-md-5 ml-xl-0">Ania, the professional
                    <span class="intro--landing--left__underline">Geodeta</span>
                </h1>
            </div>
            
            <!-- Short description -->
            <div>
                <h6 class="ml-0 ml-md-5 ml-xl-0">
                    Ania is a professional geodeta in the Podlaskie area of Poland, years of experience and complete
                    satisfaction. Ania is the person your project
                </h6>
            </div>
            <div class="intro__actions w-100">
                <ul class="list-buttons list-buttons--intro">
                    <li><a class="button button--solid-yellow button--solid-yellow__hover-blue">Get to know Ania</a></li>
                    <li><a class="button button--solid-dark-blue">Projects</a></li>
                </ul>
            </div>
        </div>
        <!-- Right side -->
        <div class="col-12 col-md-7 px-0 mx-md-0">
            <%- include('video_popup.html') -%>
            <div class="video-landing-wrapper"></div>
        </div>
    </div>
</div>