<!-- Trigger -->
<a class="button-video" id="videoModal" href="#"> 
    <svg width="131" height="131" viewBox="0 0 131 131" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="inner-circle" d="M65 21C40.1488 21 20 41.1488 20 66C20 90.8512 40.1488 111 65 111C89.8512 111 110 90.8512 110 66C110 41.1488 89.8512 21 65 21Z" fill="white"></path>
        <circle class="outer_circle" cx="65.5" cy="65.5" r="64" stroke="#ffc107"></circle>
        <path class="play" fill-rule="evenodd" clip-rule="evenodd" d="M60 76V57L77 66.7774L60 76Z" fill="#121A3E"></path>
    </svg>
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" id="video-container">
            <iframe id="landingVideo" width="1100" height="620" src="https://www.youtube.com/embed/2eQgGY03TUk?si=Fo0BWA97W_1ZIw20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
<div class="modal-backdrop fade" id="backdrop" style="display: none;"></div>
