<section class="section-service section-service--alt">
    <div class="container">
        <div class="row no-gutters">
            <div class="section__aside col-md-6 order-2 order-md-1">
                <div class="section__aside-inner">

                    <img style="margin-top: 25px; margin-bottom: 25px" class="lazyloaded" src="/public/autodesk.png"
                        alt="AutoDesk logo">

                </div>
            </div>

            <div class="section__content col-md-6 order-1 order-md-2">
                <div class="section__content-inner">
                    <div class="section__content-head">
                        <h2>Care, Experience, Precision.</h2>
                    </div>

                    <div class="section__content-body">
                        <ul class="list-services">
                            <li>
                                <img src="../../public/icons8-service-80.png">
                                <p><span><b>Service focused.</b></span> Our friendly team is dedicated to providing
                                    excellent support and making sure you're pleased with our service.</p>
                            </li>

                            <li>
                                <img src="../../public/icons8-experience-80.png">

                                <p><span><b>Years of experience.</b></span>Experience is our foundation, with decades of
                                    proven expertise in land surveying.</p>

                            </li>

                            <li>
                                <img src="../../public/icons8-fast-80.png">
                                <p><span><b>Time focused.</b></span> We strive for productivity as a top priority,
                                    <b>consistently</b> delivering efficient surveying solutions tailored to your
                                    project's demands.
                                </p>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-service">
    <div class="container">
        <div class="row no-gutters">
            <div class="section__content col-md-6">
                <div class="section__content-inner">
                    <div class="section__content-head">
                        <h2>Care, Experience, Precision.</h2>
                    </div>

                    <div class="section__content-body">
                        <ul class="list-services">
                            <li>
                                <img src="../../public/icons8-service-80.png">
                                <p><span><b>Service focused.</b></span> Our friendly team is dedicated to providing
                                    excellent support.</p>
                            </li>

                            <li>
                                <img src="../../public/icons8-experience-80.png">

                                <p><span><b>Years of experience.</b></span>Decades of
                                    proven expertise in land surveying.</p>

                            </li>

                            <li>
                                <img src="../../public/icons8-fast-80.png">
                                <p><span><b>Time focused.</b></span> We strive for productivity as a top priority.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section__aside col-md-6">
                <div class="section__aside-inner">
                    <img style="margin-top: 25px; margin-bottom: 25px" class="lazyloaded" src="/public/land_surveyor.png"
                            alt="AutoDesk logo">
                </div>
            </div>
        </div>
    </div>
</section>