<section class="section-service section-service--alt" id="zig">
    <div class="container">
        <div class="row no-gutters" id="contained-zigzag">
            <div class="section__aside col-md-6 order-2 order-md-1">
                <div class="section__aside-inner">

                    <img style="margin-top: 25px; margin-bottom: 25px" class="lazyloaded" src="/public/project_9_v2.jpeg"
                        alt="AutoDesk logo">

                </div>
            </div>

            <div class="section__content col-md-6 order-1 order-md-2">
                <div class="section__content-inner">
                    <div class="section__content-head">
                        <h2><%=text.titleRight%></h2>
                    </div>

                    <div class="section__content-body">
                        <ul class="list-services">
                            <li>
                                <img src="../../public/icons8-service-80.png">
                                <p><span><b><%=text.listItemRight1Keyword%></b></span><%=text.listItemRight1%></p>
                            </li>

                            <li>
                                <img src="../../public/icons8-experience-80.png">
                                <p><span><b><%=text.listItemRight2Keyword%></b></span><%=text.listItemRight2%></p>
                            </li>

                            <li>
                                <img src="../../public/icons8-fast-80.png">
                                <p><span><b><%=text.listItemRight3Keyword%></b></span><%=text.listItemRight3%></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-service" id="zag">
    <div class="container">
        <div class="row no-gutters">
            <div class="section__content col-md-6">
                <div class="section__content-inner">
                    <div class="section__content-head">
                        <h2><%=text.titleLeft%></h2>
                    </div>

                    <div class="section__content-body">
                        <ul class="list-services">
                            <li>
                                <img src="../../public/icons8-check-96.png">
                                <p><span><b><%=text.listItemLeft1Keyword%></b></span><%=text.listItemLeft1%></p>
                            </li>

                            <li>
                                <img src="../../public/icons8-check-96.png">
                                <p><span><b><%=text.listItemLeft2Keyword%></b></span><%=text.listItemLeft2%></p>
                            </li>

                            <!-- <li>
                                <img src="../../public/icons8-check-96.png">
                                <p><span><b><%=text.listItemLeft3Keyword%></b></span><%=text.listItemLeft3%></p>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section__aside col-md-6">
                <div class="section__aside-inner">
                    <img style="margin-top: 25px; margin-bottom: 25px" class="lazyloaded" src="/public/ania_measuring.jpg"
                            alt="Ania measuring a yard">
                </div>
            </div>
        </div>
    </div>
</section>