<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/pricing.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/public/scripts/header.js"></script>
    <link rel="stylesheet" href="/public/bootstrap.4.6.2.css">
    <script src="/public/scripts/stickyBehavior.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include('partials/header.html', {navBarOptions: navBarOptions, text: header}) -%>
        <div class="no-gutters">
            <section>
                <div class="container">
                    <div class="content">
                        <div class="title-subtitle">
                            <h1>
                                <%=text.secondTitle%>
                            </h1>
                            <h6>
                                <%=text.secondDesc%>
                            </h6>
                        </div>
                        <div class="services-categories">
                            <div class="row-modified">
                                <div class="col-12 col-md-12 col-md-3">
                                    <div class="plan">
                                        <div class="plan-head">
                                            <h6>
                                                <%=pricingDesc%>
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                            </div>
            </section>
            <section>
                <div class="row-modified spaced">
                    <h3><%=text.lastTitle%></h3>
                </div>
                <div class="row-modified spaced">
                    <a href="/contact" class="button button--solid-dark-blue"><%=text.contactButton%></a>
                </div>
                <br>
            </section>

            <%- include('partials/footer.html', {text: footer}) -%>

        </div>
</body>