<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/pricing.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="/public/scripts/stickyBehavior.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include('partials/header.html', {navBarOptions: navBarOptions, text: header}) -%>
        <div class="no-gutters">
            <section>
                <div class="container">
                    <div class="content">
                        <div class="title-subtitle">
                            <h1>
                                <%=text.secondTitle%>
                            </h1>
                            <h6>
                                <%=text.secondDesc%>
                            </h6>
                        </div>
                        <div class="services-categories">
                            <div class="row-modified">
                                <div class="col-12 col-md-12 col-md-3">
                                    <div class="plan">
                                        <div class="plan-head">
                                            <h6>
                                                <%=pricingDesc%>
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                            </div>
            </section>
            <section>
                <div class="row-modified spaced">
                    <h3><%=text.lastTitle%></h3>
                </div>
                <div class="row-modified spaced">
                    <a href="/contactus" class="button button--solid-dark-blue"><%=text.contactButton%></a>
                </div>
                <br>
            </section>

            <%- include('partials/footer.html', {text: footer}) -%>

        </div>
</body>