<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/body.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/serviceInfo.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="/public/scripts/header.js"></script>
    <link rel="stylesheet" href="/public/bootstrap.4.6.2.css">
    <script src="/public/scripts/stickyBehavior.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <%- include('partials/header.html', {navBarOptions: navBarOptions, text: header}) -%>
        <div class="no-gutters">
            <section>
                <div class="container" id="article">
                    <h1 class="title">
                        <%-text.title%>
                    </h1>
                    <h6>
                        <%-text.desc%>
                    </h6>
                    <% if (text["list"] !== undefined) { %>
                        <ul>
                            <%text.list.forEach(element=> {%>
                                <li><%=element%></li>
                            <%});%>
                        </ul>
                    <% } %>

                    <% if (text["photo"] !== undefined) { %>
                        <img src="<%=text.photo%>">
                    <% } %>
                    
                    <% if (text["finalDesc"] !== undefined) { %>
                        <h6><%-text.finalDesc%></h6>
                    <% } %>
                </div>
            </section>
        </div>
        <%- include('partials/footer.html', {text: footer}) -%>
</body>