.landing-carousel-inner {
    background-color: #1f2b5a;
    color: #fff;
    height: 471px;
    border-radius: 4px;
    padding: 2em 2em 1em 2em;
    overflow: hidden;
  }

  @media (max-width: 767px) {
    

    .landing-carousel-inner {
      height: 600px;
    }
}