.header {
    top: 0;
    left: 0;
    right: 0;
    padding: 42px 0;
    background: transparent;
    z-index: 999;
    transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
    background: #121A3E;
    color: #FFFF;
    margin-bottom: 10px;
    display: block;
    position: sticky;
}

.header.sticky {
    padding: 15px 0;
    background: #121A3E;
}

@media (min-width: 576px) {
    .container {
        max-width: 1200px;
    }

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.header .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}

.header .header__content .nav {
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav>ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #FFFF;
}

.nav>ul>li {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.nav>ul>li+li {
    margin-left: 40px;
}

nav ul,
nav ol {
    list-style: none outside none;
}

/*Header style*/
.nav>ul>li {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.nav>ul>li>ul::after {

    content: "";
    position: absolute;
    bottom: 100%;
    left: 96px;
    width: 100px;
    height: 100px;
    background: transparent;
    z-index: -1;

}

/*Link dropdown*/
.nav>ul>li>ul {
    position: absolute;
    top: 100%;
    left: -77px;
    margin-top: 40px;
    background: #FFFF;
    border-radius: 8px;
    box-shadow: 0px 22px 18px -7px rgba(128, 141, 170, 0.18);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
}

/* li elements of the dropdown */
.nav>ul>li>ul>li:first-child {
    padding-top: 22px;
}

.nav>ul>li>ul>li {
    padding: 5px 20px 5px;
    padding-top: 5px;
    border-right: 3px solid rgba(166, 175, 194, 0.25);
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* a inside the li of the dropdown */
.nav>ul>li>ul>li>a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Title of sublink */
.nav>ul>li>ul>li>a>p.nav--sub-link {
    flex: 1 1 auto;
    margin-top: -1px;
    color: #384062;
    font-size: 16px;
    font-weight: 600;
}

/* Description of sublink */
.nav>ul>li>ul>li>a>p.nav--sub-link span {
    display: block;
    margin-top: 4px;
    color: rgba(67, 71, 88, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
}

.nav>ul>li>a {
    position: relative;
    color: inherit;
    letter-spacing: -0.01em;
    opacity: 1;
    text-decoration: none;
    z-index: 6;
    transition: color 0.5s ease-in-out;
}

/*Arrow up*/
.nav>ul>li.hasDropdown>a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 53px;
    height: 14px;
    margin: 27px 0 0 -35px;
    background: url("/public/uppershape.png") no-repeat 0 0;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: auto;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

.nav>ul>li.navLink>a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    margin-top: 5px;
    background: #FED700;
    transition: width 0.5s ease-in-out;
}



/* Basic button styles */
.custom-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: #FED700;
    color: #121A3E !important;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    transition: color 0.5 ease-in-out;
    transition: border-color 0.5 ease-in-out;
    border-color: #121A3E;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
}

/* Change button color on hover */
.custom-button:hover {
    background-color: #121A3E;
    border-color: #FED700;
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    color: #FED700 !important;


}


/* Large screens only */
@media (min-width: 768px) {
    .nav>ul>li>a:hover::after {
        width: 100%;
    }

    .nav>ul>li:hover>ul {
        opacity: 1;
        max-height: unset;
        pointer-events: all;
    }

    .nav>ul>li>ul>li:hover {
        background: #F7F8F9;
        border-color: #FED700;
    }

    .nav>ul>li:hover>a::before {
        opacity: 1;
        visibility: visible;
    }
}